body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0;
    margin: 0;
    text-align: center;
    background-image: url("https://pics.filmaffinity.com/good_will_hunting-211312156-large.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-color: lightyellow;
}

span {
    border-bottom: 2px solid black;
    padding: 4px;
}

button {
    margin: 20px 0;
    background: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 8px;
}
